<title>Bryson Lee | Contact</title>

<!-- Responsive Header -->
<div class="collapse" id="collnavbar">
  <div class="bg-inverse p-a-1">
    <p><a href="/about">About</a></p>
    <p><a href="/projects">Projects</a></p>
    <p><a href="/contact">Contact</a></p>
    <p><a href="http://engieblocks.blogspot.com/">Blog</a></p>
  </div>
</div>
<!-- Main Header -->
<nav class="navbar navbar-light navbar-full bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">Bryson Lee</a>
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#collnavbar">
    &#9776;
    </button>
    <ul class="nav navbar-nav hidden-xs-down">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="http://engieblocks.blogspot.com/">Blog</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Main content -->
<div class="main-content container">
  <div class="row">
    <div class="col-xs-12 main-content-container">
      <h1 class="page-header"><i class="fa fa-caret-right"></i>Contact</h1>
      <div class="main-content-section">
        <h5>Email</h5>
        <p><i class="fa fa-link"></i><a href="mailto:bhlee@scu.edu">bhlee@scu.edu</a></p>
        <h5>Linkedin</h5>
        <p><i class="fa fa-link"></i><a href="https://www.linkedin.com/in/bryhlee">https://www.linkedin.com/in/bryhlee</a></p>
      </div>
      <div ng-include="'../partials/footer.html'"></div>
    </div>
  </div>
</div>
