<title>Bryson Lee | About</title>

<!-- Responsive Header -->
<div class="collapse" id="collnavbar">
  <div class="bg-inverse p-a-1">
    <h4>Collapsed content</h4>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<!-- Main Header -->
<nav class="navbar navbar-light navbar-full bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">Bryson Lee</a>
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#collnavbar">
    &#9776;
    </button>
    <ul class="nav navbar-nav hidden-xs-down">
      <li class="nav-item">
        <a class="nav-link active" href="/about">About</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Main content -->
<div class="main-content container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header"><i class="fa fa-caret-right"></i>About</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-10">
      <div class="row main-content-section">
        <div class="col-xs-12 col-sm-4">
          <img class="snapshot center-block img-fluid" src="../media/profile.jpg"></img>
        </div>
        <div class="col-xs-12 col-sm-8 text-xs-center text-sm-left">
          <h2>Bryson Lee</h2>
          <p class="">Production and Software Engineeering</p>
          
          <p class="h2-subtext">Santa Clara University</p>
          <p class="h2-subtext">B.S. Computer Science and Engineering</p>
          <p class="h2-subtext">Santa Clara, CA</p>
        </div>
      </div>
      <div id="overview" class="row main-content-section">
        <div class="col-xs-12">
          <h4 class="main-content-header">Overview</h4>
          <p>Software engineer application development and systems pipeline programming. Focus on production pipelines. Strong experience with tools development and full stack web/mobile app development. Comfortable working in a multitude of environments ranging from large scale departments to small multi-role teams. Exposure to project based development.</p>
        </div>
      </div>
      <div id="intro" class="row main-content-section">
        <div class="col-xs-12">
          <h4 class="main-content-header">Introduction</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div id="skills" class="row main-content-section">
        <div class="col-xs-12">
          <h4 class="main-content-header">Skills</h4>
        </div>
        <div class="col-lg-4 col-xs-6 main-content-module">
          <p><i class="fa fa-terminal fa-2x"></i></p>
          <h6>Software Engineering</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="col-lg-4 col-xs-6 main-content-module">
          <p><i class="fa fa-wrench fa-2x"></i></p>
          <h6>Tools Development</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="col-lg-4 col-xs-6 main-content-module">
          <p><i class="fa fa-folder-open fa-2x"></i></p>
          <h6>Project Development</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="col-lg-4 col-xs-6 main-content-module">
          <p><i class="fa fa-cog fa-2x"></i></p>
          <h6>Production</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="col-lg-4 col-xs-6 main-content-module">
          <p><i class="fa fa-code fa-2x"></i></p>
          <h6>Full Stack Web</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="col-lg-4 col-xs-6 main-content-module">
          <p><i class="fa fa-cubes fa-2x"></i></p>
          <h6>Graphics Pipeline</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
      </div>
    </div>
    <div id="dialog" class="sticky col-md-3 col-lg-2 hidden-sm-down" ng-controller="dialogController">
      <div class="row">
        <div id="dialog-header" class="col-xs-12">
          <p>About</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div id="dialog-content">
            <ul>
              <li>
                <a class="nav-link" href="#overview"><i class="fa fa-angle-right"></i>Overview</a>
              </li>
              <li>
                <a class="nav-link" href="#intro"><i class="fa fa-angle-right"></i>Introduction</a>
              </li>
              <li>
                <a class="nav-link" href="#skills"><i class="fa fa-angle-right"></i>Skills</a>
              </li>
              <ul>
                <li>
                  <a class="nav-link" href="#">Languages</a>
                </li>
                <li>
                  <a class="nav-link" href="#">Tools</a>
                </li>
                <li>
                  <a class="nav-link" href="#">Environments</a>
                </li>
              </ul>
              <li>
                <a class="nav-link" href="#"><i class="fa fa-angle-right"></i>Experience</a>
              </li>
              <ul>
                <li>
                  <a class="nav-link" href="#">Work</a>
                </li>
                <li>
                  <a class="nav-link" href="#">Research</a>
                </li>
              </ul>
              <li>
                <a class="nav-link" href="#"><i class="fa fa-angle-right"></i>Resume</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'../partials/footer.html'"></div>