<title>Bryson Lee | Home</title>
<div ng-include="'../partials/header.html'"></div>

<div id="main-content" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <h2>Bryson Lee</h2>
      <p class="h2-subtext">Production and Software Engineeering</p>
      <p>HEllo1</p>
    </div>
    <div id="dialog" class="col-xs-12 col-md-3 hidden-sm-down">
      <div id="dialog-content">
        <ul>
          <li>
            <a class="nav-link" href="#">Link</a>
          </li>
          <li>
            <a class="nav-link" href="#">Link</a>
          </li>
          <li>
            <a class="nav-link" href="#">Link</a>
          </li>
          <ul>
            <li>
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
          <li>
            <a class="nav-link" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-include="'../partials/footer.html'"></div>