<title>Bryson Lee | Projects</title>

<!-- Responsive Header -->
<div class="collapse" id="collnavbar">
  <div class="bg-inverse p-a-1">
    <h4>Collapsed content</h4>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<!-- Main Header -->
<nav id="sticky" class="navbar navbar-light navbar-full bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">Bryson Lee</a>
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#collnavbar">
    &#9776;
    </button>
    <ul class="nav navbar-nav hidden-xs-down">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Main content -->
<div id="main-content" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>> Projects</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-10">
      <div class="row main-content-section">
      </div>
    </div>
    <div id="dialog" class="sticky col-md-3 col-lg-2 hidden-sm-down" ng-controller="dialogController">
      <div id="dialog-content">
        <p class="listheader">Projects</p>
        <ul>
          <li>
            <a class="nav-link" href="#overview">Overview</a>
          </li>
          <li>
            <a class="nav-link" href="#tools">Tools</a>
          </li>
          <ul>
            <li>
              <a class="nav-link" href="#">Hoana Medical</a>
            </li>
            <li>
              <a class="nav-link" href="#">Department of Health Website</a>
            </li>
            <li>
              <a class="nav-link" href="#">Environments</a>
            </li>
          </ul>
          <li>
            <a class="nav-link" href="#websites">Web/Mobile Apps</a>
          </li>
          <ul>
            <li>
              <a class="nav-link" href="#">Languages</a>
            </li>
            <li>
              <a class="nav-link" href="#">Tools</a>
            </li>
            <li>
              <a class="nav-link" href="#">Environments</a>
            </li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>


<div ng-include="'../partials/footer.html'"></div>