<title>Bryson Lee | Projects</title>

<!-- Responsive Header -->
<div class="collapse" id="collnavbar">
  <div class="bg-inverse p-a-1">
    <p><a href="/about">About</a></p>
    <p><a href="/projects">Projects</a></p>
    <p><a href="/contact">Contact</a></p>
    <p><a href="http://engieblocks.blogspot.com/">Blog</a></p>
  </div>
</div>
<!-- Main Header -->
<nav class="navbar navbar-light navbar-full bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">Bryson Lee</a>
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#collnavbar">
    &#9776;
    </button>
    <ul class="nav navbar-nav hidden-xs-down">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="http://engieblocks.blogspot.com/">Blog</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Main content -->
<div class="main-content container" ng-controller="projectController">
  <div class="row">
    <div class="col-sm-12 col-lg-10 main-content-container">
      <h1 class="page-header"><i class="fa fa-caret-right"></i>Projects</h1>
      <div id="overview" class="row main-content-section">
        <div class="col-xs-12">
          <h3 class="main-content-header">Introduction</h3>
          <div class="left-indent">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. When it comes to tools development, there is one quote I live by (from a physicist, nonetheless!):</p>
            <blockquote class="blockquote">
              <p class="m-b-0">Everything should be made as simple as possible, but not simpler.</p>
              <footer class="blockquote-footer">Albert Einstein</footer>
            </blockquote>
          </div>
        </div>
      </div>
      
      
      <div id="tools" class="row main-content-section">
        <div class="col-xs-12">
          <h3 class="main-content-header">Tools</h3>
        </div>
      </div>
      <div class="left-indent">
        <div id="checksum" class="row main-content-section">
          <div class="col-sm-3 hidden-xs-down">
            <img class="snapshot center-block img-fluid" src="../media/commands.png"></img>
          </div>
          <div class="col-xs-12 col-sm-9 text-xs-left">
            <h5>.data Checksum Analytics Tool</h5>
            <p>Command line integrity tool used to calculate checksums of .data packages sent from a remote system (medical bed). Packages were sent through HTTP Bluetooth calls.</p>
            <p class="project-details"><i class="fa fa-file-code-o"></i>C++</p>
            <p class="project-details"><i class="fa fa-calendar-o"></i>March 2014 - Present</p>
          </div>
        </div>
        <div id="dohticket" class="row main-content-section">
          <div class="col-sm-3 hidden-xs-down">
            <img class="snapshot center-block img-fluid" src="../media/dohticket.png"></img>
          </div>
          <div class="col-xs-12 col-sm-9 text-xs-left">
            <h5>Ticket Support Manager</h5>
            <p>Web application built to manage support tickets from clients. Features administration functions to delete, renew, and edit existing tickets. Integrated into existing department workflow.</p>
            <p class="project-details"><i class="fa fa-file-code-o"></i>Ruby on Rails, Bootstrap, HTML, CSS, JavaScript</p>
            <p class="project-details"><i class="fa fa-calendar-o"></i>March 2014 - Present</p>
          </div>
        </div>
      </div>
  
  
      <div id="applications" class="row main-content-section">
        <div class="col-xs-12">
          <h3 class="main-content-header">Applications</h3>
        </div>
      </div>
      <div class="left-indent">
        <div id="hoana-app" class="row main-content-section">
          <div class="col-sm-3 hidden-xs-down">
            <img class="snapshot center-block img-fluid" src="../media/hoanaapp.png"></img>
          </div>
          <div class="col-xs-12 col-sm-9 text-xs-left">
            <h5>Medical Bed Moniotoring Application</h5>
            <p>Mobile hybrid application built to visualize medical bed infomration and alert users of critical respitory and heart rate levels. Connects through Bluetooth and receives custom .data packages. Features graph visualization features.</p>
            <p class="project-details"><i class="fa fa-file-code-o"></i>AngularJS, PhoneGap Cordova, HTML, CSS, JavaScript</p>
            <p class="project-details"><i class="fa fa-calendar-o"></i>March 2014 - Present</p>
            <p class="project-details"><a href="" alt="Link to website"><i class="fa fa-link"></i>https://github.com/bryhlee/hoana-mobile-prototype</a></p>
          </div>
        </div>
      </div>
      <div ng-include="'../partials/footer.html'"></div>
    </div>


    <div class="sticky col-lg-2 hidden-md-down" ng-controller="dialogController">
      <div id="dialog">
        <div id="dialog-header">
          <p>Projects</p>
        </div>
        <div id="dialog-content">
          <ul>
            <li>
              <a class="nav-link" href="#overview"><i class="fa fa-angle-right"></i>Introduction</a>
            </li>
            <li>
              <a class="nav-link" href="#tools"><i class="fa fa-angle-right"></i>Tools</a>
            </li>
            <li>
              <a class="nav-link" href="#applications"><i class="fa fa-angle-right"></i>Applications</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
