<title>Bryson Lee | Projects</title>

<!-- Responsive Header -->
<div class="collapse" id="collnavbar">
  <div class="bg-inverse p-a-1">
    <h4>Collapsed content</h4>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<!-- Main Header -->
<nav id="sticky" class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">Bryson Lee</a>
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#collnavbar">
    &#9776;
    </button>
    <ul class="nav navbar-nav hidden-xs-down">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Main content -->
<div id="main-content" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>> Projects</h1>
    </div>
  </div>
</div>


<div ng-include="'../partials/footer.html'"></div>