<div class="container">
  <hr style="width: 70%">
  <div id="footer">
    <div class="row">
      <div class="col-xs-12">
        <nav class="nav nav-inline">
          <a class="nav-link active" href="#">About</a>
          <a class="nav-link" href="#">Work</a>
          <a class="nav-link" href="#">Projects</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a href="https://github.com/bryhlee"><img src="../media/footer_github.png"  class="footer-image"></img></a>
        <a href="https://www.linkedin.com/in/bryhlee"><img src="../media/footer_linkedin.png"  class="footer-image"></img></a>
        <a href="http://stackoverflow.com/users/4722561/bhlee"><img src="../media/footer_overflow.png"   class="footer-image"></img></a>
      </div>
    </div>
  </div>
</div>
