a, .footer-image {
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Lato', sans-serif;
  
}

.h2-subtext {
  font-weight: 300;
  margin-bottom: 0px;
}

.subtext {
  font-weight: 300;
}

.footer-image {
  width: 60px;
  padding: 10px;
  height: auto;
}

.footer-image:hover {
	filter: saturate(60%);
	-webkit-filter: saturate(60%);
	-moz-filter: saturate(60%);
	-o-filter: saturate(60%);
	-ms-filter: saturate(60%);
  filter: brightness(130%);
	-webkit-filter: brightness(130%);
	-moz-filter: brightness(130%);
	-o-filter: brightness(130%);
	-ms-filter: brightness(130%);
}

#footer {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#footer a {
  color: #000;
  text-decoration: underline;
}

#footer a:hover {
  color: #A3A3A3;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #f2f2f2;
}

.active {

}

#main-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

#main-content #snapshot {
  width: 100%;
  margin-right: 30px;
  border: 2px solid #000;
  border-radius: 20px;
  float: left;
  margin-bottom: 10px;
}

.main-content-section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

#dialog {
  border-radius: 10px;
  background-color: #F5F5F5;
  margin-bottom: 0px;
}

#dialog-content {
  margin: 10px 0px 10px 0px;
  font-family: 'Lato', sans-serif;
}

#dialog-content ul {
  padding-left: 30px;
}

#dialog-content a {
  font-size: 14px;
}

#dialog-content a:hover {
  text-decoration: underline;
}
